<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
<h2 class="text-center">Resend confirmation</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>

<div class="text-center"><%= render "devise/shared/links" %></div>
</div>
</div>
