
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">

      <%= simple_form_for @pin, html: { mltipart: true } do |f| %>
          <%= render 'shared/errors' %>
          <div class="form-group">
              <%= f.file_field :image, class: "form-control",:size => "300x300", autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.text_field :title, autofocus: false, class: 'form-control', placeholder: "Add a Title for your pin" %>
          </div>

          <div class="form-group">
            <%= f.text_area :description, rows:5, class: "form-control", placeholder: "Write a description for your pin" %>
          </div>
          <div form-group>
            <%=  f.button "submit", class: "btn btn-success btn-lg", data: {disable_with:"<i class='fa fa-spinner fa-spin'></i> Creating Pin..."} %>
          </div>
          <% end %>
            [<%= link_to "Cancel request and return to pins listing", pins_path %>]
    </div>
</div>
