<div class="container">
<div id="pins" class="transitions-enabled infinite-scroll clearfix">
<% @pins.each do |pin| %>
<div class="box panel panel-default">
  <%= link_to (image_tag pin.image.url) %>
  <div class="panel-body">
  <h2><%= link_to pin.title, pin_path(pin) %></h2>
  <div class="user">Submitted by: <%= pin.user.email %></div>
</div>
</div>
<% end %>
</div>
</div>
