
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">

<div class="box">
          <%= image_tag(@pin.image, :class => "img-rounded img-responsive" )%>
          <h2><p class="title">
           <%= @pin.title %>
         </p></h2>
      <h2><p class="description">
       <%= @pin.description %>
     </p></h2>
      <p>
        <strong>
          Posted by <%= @pin.user.email %>
        </strong>
      </p>
      <% if current_user == @pin.user %>
      <div class="btn-group">
        <%= link_to like_pin_path(@pin), method: :put, class:"btn btn-default" do %>
          <%= @pin.get_upvotes.size %><i class="fa fa-heart" aria-hidden="true"></i><% end %>
        <%= link_to 'Edit', edit_pin_path(@pin), class:"btn btn-primary" %>

        <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "are you sure" }, class:"btn btn-danger" %>
        <% end %>
  </div>
</div>

</div>
