<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
<h2 class="text-center">Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-group">
    <%= f.text_field :password, placeholder: "New password", required: true,class: 'form-control', autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  </div>
  <div class="form-group">
    <%= f.text_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: "Confirm your new password", reuired: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Change my password", class: "btn btn-primary btn-block btn-lg" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>
<div class="text-center">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
