<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
<h2 class="text-center">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Enter Email Address to receive instructions" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block btn-lg" %>
  </div>

<% end %>
<div class="text-center">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
