<nav class="navbar navbar-expand-md">
      <%= link_to "PinBoard", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>-->
        </ul>
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-link"><%= link_to "New Pin", new_pin_path %></li>
          <li class="nav-link"><%= link_to "Account", edit_user_registration_path %></li>
          <li class="nav-link"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-link"><%= link_to "Register", new_user_registration_path %></li>
          <li class="nav-link"><%= link_to "Log In", new_user_session_path %></li>
        </ul>
        <% end %>
      </div>
    </nav>
