<div class="container">
<dic class="row">
<div class="col-lg-4 col-md-6 ml-auto mr-auto">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
</div>
</div>
</div>
